
<h1>Listing users</h1>
 
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @users.each do |user| %>
    <% i = i + 1 %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td align='center'><a href="#"><button class="button">Montar treino!</button></a></td>
      </tr>
    <% end %>
  </tbody>
</table>


