<!DOCTYPE html>
<html lang="en">

<head>

    <%= render 'layouts/ui_sidebar' %>
    <%= render 'layouts/ui_header' %>

    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <title>SB Admin - Bootstrap Admin Template</title>

</head>

<body>

    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Treinos
                        </h1>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

</body>

</html>