<head>
    <link href="/css/explicacaoExercicio.css" rel="stylesheet">
    <%= render 'layouts/header' %>
</head>

<body>

<!--CRIACAO DO CORPO -->

    <div class="corpoExercicio" id="corpoExercicio">

    </br></br></br>

        <h1> PASSO 1</h1> </br>
        <p>Use um calçado adequado</p>
        <ul>
            <li>Por mais que o salto do burpee não seja muito alto, ele é sequencial e pode causar lesões. Por isso, é fundamental usar um tênis com o amortecimento adequado para esta atividade. Não que ele precise ser um tênis de corrida, com amortecimento em gel, por exemplo. Mas ele precisa oferecer primeiramente firmeza ao pé e também ajude a amenizar o impacto. 
            </li>
        </ul>
        </br></br>

        <h1>PASSO 2</h1> </br>
        <p>Comece na posição inicial para executar um <a href="squat">Squat</a></p>

        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp1.jpg"/>
        </div>
        
        </br></br>
        <h1>PASSO 3</h1> </br>
        <p>Agache até encostar as mão no chão e estique a perna</p>
        <ul>
            <li>Agache normalmente inclinando levemente o corpo para a frente até que seja possível encostar as duas palmas da mão no chão.</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp4.png"/>
        </div>

        </br></br>
        <h1>PASSO 4</h1> </br>
        <p>Posição de flexão</p>
        <ul>
            <li>Ainda com o joelho flexonado, e com as mão encostadas no chão, estique as duas pernas juntas apoiando apenas nas pontas dos pés.</li>
            <li>Dessa forma, você estará no passo inicial para executar uma <a href="flexao">Flexão</a></li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp2.png"/>
        </div>
        
        </br></br>
        <h1>PASSO 5</h1> </br>
        <h2>Execute o movimento de <a href="flexao">Flexao</a> completo.</h2>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp3.jpg"/>
        </div>

        </br></br>
        <h1>PASSO 6</h1> </br>
        <p>Pulo do sapo</p>
        <ul>
            <li>Encolha as duas pernas e mantenha as mãos encostadas no chão, assim como no passo 2</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp4.png"/>
        </div>

        </br></br>
        <h1>PASSO 7</h1> </br>
        <p>Salto</p>
        <ul>
            <li>Retira as mãos do chão, desinclinando o corpo.</li>
            <li>Execute o movimento de levantar normalmente, mas dando um impulso no final para saltar.</li>
            <li>Ao saltar, levante os braços para cima.</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp5.png"/>
        </div>

        <h1>PASSO 8</h1> </br>
        <p>Inicio</p>
        <ul>
            <li>Após o salto, caia descendo os braços e dobrando levemente as pernas ao chegar no chão para amortecer o salto.</li>
            <li>Após amortecer o salto, você já estará na posição inicial para executar novamente um novo burpee.</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/bp1.png"/>
        </div>
        
    </div>
    
<!--FIM DO CORPO -->
    
    <%= render 'layouts/footer' %>
    
</body>