<head>
    <link href="/css/exercicios.css" rel="stylesheet">
    <%= render 'layouts/header' %>
</head>

<body>


    <!--CRIACAO DO CORPO -->

    <div class="listaExercicios" id="listaExercicios">
    </br></br>


    <table id="listaExercicios">
      <caption>LISTA DE EXERCICIOS</caption>
      <tr>
        <td>
            <h2>DIA 1 :</h2>
        </td>
        <td>
            <a href="flexao">FLEXÃO</a></br>
            BARRA FIXA</br>
            TRÍCEPS BANCO
        </td>
    </tr>   
    <tr>
        <td>
            <h2>DIA 2 :</h2>
        </td>
        <td>
            LISTA 2
        </td>
    </tr>   
    <tr>
        <td>
            <h2>DIA 3 :</h2>
        </td>
        <td>
            LISTA 3
        </td>
    </tr> 

</table>

</div>

<%= render 'layouts/footer' %>

</body>

