<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/explicacaoExercicio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">E-xercite</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Inscreva-se</a>
                    </li>
                    <li>
                        <a href="exercises">Exercicios</a>
                        </li>
                    <li>
                        <a href="about">Sobre nós</a>
                    </li>
                    <li>
                        <a href="contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<!--CRIACAO DO CORPO -->

    <div class="corpoExercicio" id="corpoExercicio">

    </br></br></br>

        <h1> PASSO 1</h1> </br>
        <p>Deite-se de bruços no chão. Mantenha os pés colados. Seu peso deve se concentrar em seu peito.</p>
        <ul>
            <li>Posicione as mãos colocando as palmas delas no chão, aproximadamente no nível dos ombros.
            Elas devem estar ao lado dos ombros, com os cotovelos apontando na direção dos dedos dos pés.</li>
            <li>Se você estiver numa superfície relativamente fofa – como um tapete –, pode ser interessante se apoiar nos próprios punhos,
            entre a primeira e a segunda junta, para aumentar o desafio.
            Se você estiver numa superfície menos piedosa, considere investir em pegadas para flexão (elas parecem maçanetas colocadas no chão).</li>
            <li>Erga os dedos dos pés (de maneira que eles apontem para sua cabeça). A parte anterior aos dedos dos pés deve tocar o chão.</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/flexao2.jpg" width="50%" height="50%"/>
        </div>

        </br></br>

        <h1>PASSO 2</h1> </br>
        <p>Erga-se usando os braços. Nesse ponto, seu peso deve ser apoiado pelas mãos e pelos pés. Faça com que o corpo forme uma linha reta que
        parte do calcanhar e vai até a cabeça. Essa é a posição chamada de “prancha”, usada em vários exercícios.
        Essa é a posição inicial e final das flexões.</p>

        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/flexao1.jpg"/>
        </div>
        
        </br></br>
        <h1>PASSO 3</h1> </br>
        <p>Escolha o tipo de flexão que funciona melhor para você. Há três tipos de flexões básicas que usam músculos diferentes. A diferença aqui
        é onde você coloca as mãos enquanto está na posição de prancha. Quanto mais próximas as mãos estiverem uma da outra, mais o tríceps trabalhará.
        Quanto mais as mãos estiverem distantes uma da outra, mais o peito trabalhará.</p>
        <ul>
            <li>Regular: as mãos devem estar um pouco distantes dos ombros. Isso trabalha tanto os braços quanto o peito.</li>
            <li>Diamante: aproxime as mãos de maneira a formar o desenho de um diamante com elas.
            Mantenha-as diretamente abaixo do peito. Isso exigirá que você trabalhe mais os braços.</li>
            <li>Braços esticados: coloque as mãos bem longe dos ombros. Essa versão trabalha o peito e exige menos força braçal.</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/flexao_tipos.jpg"/>
        </div>
        
        </br></br>
        <h1>PASSO 3</h1> </br>
        <h2>Execução da variante Regular</h2>
        <ol>
            <li> Baixe o torso em direção ao chão, até os cotovelos formarem um ângulo de 90 graus.
            Mantenha os cotovelos próximos ao corpo para criar mais resistência. Permaneça olhando para o chão. Tente apontar seu nariz para frente.
            Mantenha o corpo em posição de prancha – não baixe os quadris. Respire fundo enquanto baixa o corpo. 
                <ul>
                    <li>Seu nível de proximidade em relação ao chão variará de acordo com sua força e com seu tipo corporal.
                    Porém, é bom tentar deixar seu peito a um palmo do chão antes de se reerguer.</li>
                </ul>
            </li>
            <li>
                Eleve-se novamente ao tentar empurrar o chão. Solte o ar enquanto empurra. A força do empurrão sairá dos ombros e do peito.
                Os tríceps (músculos atrás da parte superior do braço) também são contraídos, mas não constituem o principal grupo muscular afetado.
                Não se sinta tentado a usar o traseiro ou o estômago. Continue a empurrar até os braços ficarem quase que totalmente esticados. 
            </li>
            <li>
                Repita o processo de erguer-se novamente e baixar o corpo num ritmo estável. Cada par conta como uma flexão.
                Faça isso até terminar sua sequência ou até atingir o limite.
            </li>
        </ol>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/flexao4.jpg"/>
        </div>
        
    </div>
    
<!--FIM DO CORPO -->
    
    <%= render 'layouts/footer' %>
    
  </body>

</html>