<head>
    <%= render 'layouts/header' %>
    <link href="/css/training.css" rel="stylesheet">
<head>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% provide(:title, 'Cadastro Treino') %>
        <h1><br><br>Cadastro de Treino<br></h1>   

    <table>
            <caption>MEMBROS INFERIORES</caption>
            <tr>
                    <th></th>
                    <th>Nome Exercício</th>
                    <th>Série</th>
                    <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>EXTENSORA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>ABDUTOR</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>ADUTOR</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>AGACHAMENTO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>LEG PRESS</td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <td></td>
                <td>PANTURRILHA</td>
                <td></td>
                <td></td>
            </tr>
            </table>
            
            <table>
            <caption>OMBROS</caption>
            <tr>
                    <th></th>
                    <th>Nome Exercício</th>
                    <th>Série</th>
                    <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>ELEV. LATERAL</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>ELEV. FRONTAL</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>DESENV. MAQUINA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>DESENV. LIVRE</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>LEG TRAPEZIO</td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td></td>
                <td>X</td>
                <td></td>
                <td></td>
            </tr>
            </table>
            
              <table>
            <caption>PEITORAL</caption>
            <tr>
                    <th></th>
                    <th>Nome Exercício</th>
                    <th>Série</th>
                    <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>SUP. RETO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>SUP. DECLINADO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>CROSS OVER</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>CRUCIFIXO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PULL OVER</td>
                <td></td>
                <td></td>
            </tr>
                <tr>
                <td></td>
                <td>X</td>
                <td></td>
                <td></td>
            </tr>    
            </table>
                     
            
              <table>
            <caption>DORSAL</caption>
            <tr>
                    <th></th>
                    <th>Nome Exercício</th>
                    <th>Série</th>
                    <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>PUXADA ALTA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PUXADA BAIXA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>SERROTE</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>AGACHAMENTO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>EXTENSAO LOMBAR</td>
                <td></td>
                <td></td>
            </tr>
                <tr>
                <td></td>
                <td>X</td>
                <td></td>
                <td></td>
            </tr>    
            </table>
            
              <table>
            <caption>BICEPS</caption>
            <tr>
                    <th></th>
                <th>Nome Exercício</th>
                <th>Série</th>
                <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>ROSCA DIRETA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>BICEPS SCOTT</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>CONCENTRADA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>ALTERNADA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>ROSCA INVERSA</td>
                <td></td>
                <td></td>
            </tr>
                <tr>
                <td></td>
                <td>X</td>
                <td></td>
                <td></td>
            </tr>    
            </table>
            
              <table>
            <caption>TRICEPS</caption>
            <tr>
                    <th></th>
                <th>Nome Exercício</th>
                <th>Série</th>
                <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>ROSCA TRICEPS</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>TRICEPS POLIA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>FRANCESA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>TESTA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>LEG COICE</td>
                <td></td>
                <td></td>
                
            </tr>
              <tr>
                <td></td>
                <td>TRICEPS BANCO</td>
                <td></td>
                <td></td>
            </tr>
            </table>
            
            <table>
            <caption>ABDOMINAL</caption>
            <tr>
                    <th></th>
                <th>Nome Exercício</th>
                <th>Série</th>
                <th>Repetição</th>
            </tr>
            <tr>
                <td></td>
                <td>SUPRA-ILIACA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>INFRA-ILIACA</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>LATERAL</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PRANCHA</td>
                <td></td>
                <td></td>
            </tr>           
            </table>
        </div>

</div>
      </div>
    </div>'

    <%= render 'layouts/footer' %>

</body>

</html>
