<head>
    <link href="/css/gamification.css" rel="stylesheet">
    <%= render 'layouts/header' %>
</head>

<body>

    <section id="imagem">
       <figure class="imagemAvatar">
            <img src = "/images/profile/avatar1.jpg" >
       </figure> 
    </section>   

    <aside id="sobre">
       <div id="sobreAvatar">

            <section id="disposicaoNome"> <h1>Disposição:</h1> </section>
            <!-- barra de "vida" da diposicao -->
            <section id="disposicao">
            	<div id="disposicaoValor"></div>
             </section>

             <section id="cansacoNome"> <h1>Cansaço:</h1> </section>
            <!-- barra de "vida" da cansaço -->
            <section id="cansaco">
              <div id="cansacoValor"></div>
             </section>

            <section id="pontosNome"> <h1>Pontos:</h1> </section>
            <!-- barra de "vida" da cansaço -->
            <section id="pontos">
             <h2> 100 </h2>
             </section>
                
            
             <section id="outros">
            </br><h1>Outros campos</h1>
              </section>
            

       </div>
    </aside>   
      
    <section id="lista">
       <div id="listaExercicios">

      <br><br><br> <h2>Estatísticas do usuário</h2>
           <div id="graphic_1">
             <%= line_chart [["Janeiro",10], ["Fevereiro",5],["Março",7]] %>
           </div>
       </div>
    </section>





</body>

