<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/sobre.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">E-xercite</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="signup">Inscreva-se</a>
                    </li>
                    <li>
                        <a href="about">Sobre nós</a>
                    </li>
                    <li>
                        <a href="contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	    
	<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sobre Nós</h1>
                        <h3>E-xercite e tenha uma melhor qualidade de vida</h3>
                    </div>
                </div>
            </div>
	    </div>
    </div>
    
    <!--/.header-->
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">O que nós fazemos</h2>
                    <p class="lead" style="text-align: justify;">Através da nossa plataforma, é possível ter hábitos mais saudáveis. Entre em contato com um dos nossos coachs, ele será responsável pela sua rotina de treinos específicos para você. Comece a treinar de verdade!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/livre.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
<!-- /.content-section-a -->

<!--<div class="container">-->
            <!--<div class="row">-->
            
                <div class="team-member">
                <div class="clearfix"></div>
                        <h1>Nosso Time</h1>
                        <img class="imga" src="/images/a.jpeg" alt="">
                        <img class="imgf" src="/images/f.jpeg" alt="">
                        <img class="imgt" src="/images/t.jpeg" alt="">  
                        
                 </div>
                   <div class="team-member">
                <div class="clearfix"></div>
                        <img class="imgg" src="/images/g.jpeg" alt="">
                        <img class="imgj" src="/images/j.jpeg" alt="">
                        <img class="imge" src="/images/e.jpeg" alt="">         
                        
                 </div>
             <!--</div>-->
 </div>
 
 <!-- ./team-member -->            

	    
	<%= render 'layouts/footer' %>
</body>

</html>
