
    <link href="/css/explicacaoExercicio.css" rel="stylesheet">

<!--CRIACAO DO CORPO -->

    <div class="corpoExercicio" id="corpoExercicio">

    </br></br></br>

        <h1> PASSO 1</h1> </br>
        <p>Fique de pé</p>
        <ul>
            <li>Mantenha o corpo ereto, com os pés paralelos alinhado com os ombros</li>
            <li>Estique os braços de forma que eles fiquem alinhados com os ombros. </li>
        </ul>
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/sq1.png"/>
        </div>
        </br></br>

        <h1>PASSO 2</h1> </br>
        <p>Agachamento</p>
        <ul>
            <li>Mantenha os braços esticados.</li>
            <li>Execute o movimento de agachamento devagar com o bumbum empinado.</li>
            <li>Desça até que suas coxas fiquem em linha reta.</li>
        </ul>

        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/sq2.png"/>
        </div>
        
        </br></br>
        <h1>PASSO 3</h1> </br>
        <p>Volte para a posição inicial.</p>
        <ul>
            <li>Mantenha os braços esticados e alinhados.</li>
            <li>Suba normalmente devagar até que seu corpo fique ereto, voltando assim para a posição inicial.</li>
        </ul>
        
        </br>
        <div class="imagemExercicio">
            <img src="/images/exercicios/sq1.png"/>
        </div>
        
        </br></br>
        
    </div>
    
<!--FIM DO CORPO -->