
  <body>

    <%= render 'layouts/header' %>


    <div class="container">
        <div align="center">
          <h3><br><br>Sua mensagem foi enviada!<br></h3>
          <p>A equipe E-xercite agradece seu contato. Retornaremos o mais breve possível.</p>
        </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>

</html>