
    <link href="/css/training.css" rel="stylesheet">

	<br><br><br>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-lg-8">
		<h3>Insira os dados da Comida</h3>
	    <%= simple_form_for @food, :html => {:class => 'form-basic' }  do |f| %>
	        <%= f.input :name_food %>
	        <%= f.collection_select :name_food, Food.all, :name_food, :name_food, prompt: true %>
	        <%= f.button :submit %>
	    <% end %>
	    <br><br>
	    </div>
    </div>
