<head>
  <%= render 'layouts/header' %>
  <link href="/css/landing-page.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div align="center">
      <h3><br><br>Exercício criado!<br></h3>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>