    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                    <li>
                        <%= link_to "Criar dieta", {:controller => "diets", :action => "show", :id   => params[:id]} %>
                    </li>
                    <li>
                        <%= link_to "Cadastrar alimento", {:controller => "foods", :action => "show", :id   => params[:id]} %>
                    </li>
                    <li>
                        <%= link_to "Atrubuir dieta para usuário", {:controller => "diet_assign", :action => "show", :id   => params[:id]} %>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>