    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i> Acompanhamento</a>
                    </li>
                    <li>
                        <%= link_to "Meus dados", controller: "user_measures", action: "info", user_id: @user.id %>
                    </li>
                    <li>
                        <%= link_to user_training_path(user_id: @user.id) do %>
                            <i class="fa fa-fw fa-table"></i> Treinos
                        <% end %>   
                    </li>
                    <li>
                        <%= link_to user_diet_menu_path(user_id: @user.id) do %>
                            <i class="fa fa-fw fa-table"></i> Dieta
                        <% end %>   
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-trophy"></i> Conquistas</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user-o"></i> Meu perfil</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>